<div class="header">
  <div class="skyLine">
    <p class="corona">CORONA</p>
    <span class="q">Q</span><span class="u">U</span><span class="q">I</span><span class="u">Z</span>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar__ul navbar-nav mr-auto">
        <li class='navbar__li nav-item' (click)="onPlayers()">
            Players
        </li>
        <li class='navbar__li nav-item' (click)="onGame()">
          Game
        </li>
      </ul>
    </nav>
</div>
