<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">

    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label for="icon">Icon</label>
      <input type="text" id="icon" class="form-control" formControlName="icon">
    </div>


    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Soumettre</button>
  </form>
</div>
