.list-categories {
  height: 100%;
  margin-top: 2%;
}

.row {
  height: 70%;
  justify-content: center;
}

//-------------------------Categories---------------------------------

.item {
  height: 150px;
  text-decoration: none;
  margin: 0.5%;
  padding: 0;
  border: ridge 1px black;
}

.square {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 2px rgba(74, 140, 145, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: scale(1);
}

.title {
  color: black;
  font-size: 2em;
  opacity: 1;
}

.catOne {
  background-image: url(../../assets/image/music.jpg);
  background-size: cover;
  filter: brightness(50%);
  &:hover {
    filter: brightness(150%);
    transform: scale(1.5);
    z-index: 2;
    transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

}

.catTwo {
  background-image: url(../../assets/image/random.jpg);
  background-size: cover;
  filter: brightness(50%);
  &:hover {
    filter: brightness(150%);
    transform: scale(1.5);
    z-index: 2;
    transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
}

.catThree {
  background-image: url(../../assets/image/culture.jpg);
  background-size: cover;
  filter: brightness(50%);
  &:hover {
    filter: brightness(150%);
    transform: scale(1.5);
    z-index: 2;
    transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
}

.catFour {
  background-image: url(../../assets/image/brain.jpg);
  background-size: cover;
  filter: brightness(50%);
  &:hover {
    filter: brightness(150%);
    transform: scale(1.5);
    z-index: 2;
    transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
}

.catFive {
  background-image: url(../../assets/image/sport.jpg);
  background-size: cover;
  filter: brightness(50%);
  &:hover {
    filter: brightness(150%);
    transform: scale(1.5);
    z-index: 2;
    transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
}

.catSix {
  background-image: url(../../assets/image/films.jpeg);
  background-size: cover;
  filter: brightness(50%);
  &:hover {
    filter: brightness(150%);
    transform: scale(1.5);
    z-index: 2;
    transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
}

//---------------------Player----------------------



#player {
  width: 100%;
}

.players {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2%;
  margin: 1%;
}

.demarrer {
  margin-top: 2%;
  margin-bottom: 2%;
}

.item-player {
  display: inline-block;
  overflow: visible;
  width: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  text-align: center;
  border: rgba(31,42,54,1) ridge 2px;
}

.icon {
  width: 30%;
}

.player {
  width: 50%;
}

.score {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  color: whitesmoke;
  text-align: center;
  background: rgba(31,42,54,1);
}

.playerOne {
  transform: scale(0);
  transform-origin: left;
  animation: one 1000ms forwards;
  animation-delay: 3000ms;
}

.playerTwo {
  transform: scale(0);
  transform-origin: left;
  animation: one 1000ms forwards;
  animation-delay: 2500ms;
}

.playerThree {
  transform: scale(0);
  transform-origin: left;
  animation: one 1000ms forwards;
  animation-delay: 2000ms;
}

.playerFour {
  transform: scale(0);
  transform-origin: left;
  animation: one 1000ms forwards;
  animation-delay: 1500ms;
}

.playerFive {
  transform: scale(0);
  transform-origin: left;
  animation: one 1000ms forwards;
  animation-delay: 1000ms;
}

.playerSix {
  transform: scale(0);
  transform-origin: left;
  animation: one 1000ms forwards;
  animation-delay: 500ms;
}

.actif {
  border: groove 1px rgb(243, 243, 58);
  box-shadow: 0px 0px 10px 2px rgb(241, 255, 111);
}


@keyframes one {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@-webkit-keyframes actif {
  from {
    border: groove 0px rgb(243, 243, 58);
  }
  to {
    border: groove 1px rgb(243, 243, 58);
  }
}


//--------------------Loading-------------------------------

.loader {
    width: 16em;
    height: 8em;
    position: absolute;
    top: -60px;
    overflow: hidden;
    z-index: 3;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    bottom: 0;
}

.loader::before {
    width: inherit;
    height: 0.2em;
    background-color: rgb(8,67,110);

}

.loader::after {
    box-sizing: border-box;
    width: 50%;
    height: inherit;
    border: 0.2em solid rgb(8,67,110);
    border-radius: 50%;
    left: 25%;
}

.loader span {
    position: absolute;
    width: 5%;
    height: 10%;
    background-color: rgb(8,67,110);
    border-radius: 50%;
    bottom: 0.2em;
    left: -5%;
    animation: 2s linear infinite;
    transform-origin: 50% -3em;
    animation-name: run, rotating;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
}

.loader span:nth-child(2) {animation-delay: 0.075s;}
.loader span:nth-child(3) {animation-delay: 0.15s;}

@-webkit-keyframes run {
    0% {left: -5%;}
    10%, 60% {left: calc((100% - 5%) / 2);}
    70%, 100% {left: 100%;}
}

@-webkit-keyframes rotating {
    0%, 10% {transform: rotate(0deg);}
    60%, 100% {transform: rotate(-1turn);}
}
