@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './assets/scss/font.scss';
@import '~ngx-toastr/toastr';

.container {
  max-width: 2000px;
  width: 100%;
  padding: 1%;
  margin: 0;
}

app-root {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  padding: 0;
  background-color: whitesmoke;
}
